.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
   gap: 20px;
}

.imageWrapper {
   display: flex;
   display: flex;
   align-items: center;
   gap: 40px;
   width: auto;
   height: auto;
}

.products {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   list-style: none;
   gap: 25px;
   justify-content: center;
   padding: 0;
   margin: 0;
}

.horizontalList {
   display: flex;
   flex-direction: row;
   list-style: none;
   padding: 0;
   margin: 0;
}

.list>li:hover {
   box-shadow: inset 0px 0px 8px 1px #ccc;
}

.list>li {
   border-right: 2px solid red;
   width: 150px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15px;
   text-align: center;
   box-sizing: border-box;
}

.list>li:last-child {
   border-right: none;
}

.pagination {
   position: fixed;
   bottom: 65px;
}


@media (max-width: 915px) {

   .list {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: row;
   }

   .list>:last-child {
      grid-column: span 2;

   }

   .list>li {
      border: none;
      width: 250px;
      height: 200px;
   }
}

@media (max-width: 800px) {
   .imageWrapper {
      flex-direction: column;
      align-items: center;

   }

   .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .list>li {
      width: 200px;
      height: 170px;
   }

   .list>:last-child {
      grid-column: span 2;
   }
}

@media (max-width: 420px) {
   .list {
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-bottom: 10px;
      
   }

   .list>li {
      width: 200px;
      height: 170px;
   }
}